<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <title>Web Crawler || Home</title>
    <style rel="stylesheet" type="text/css">
.container {
margin-top: 40px;
}
.inner
{
    display: inline-block;
}
.progress {
            width: 100%;
            text-align: center;
        }
.hidden {
  visibility: hidden;
}



/* <!--#myDIV{
display: none;
}--> */
</style>
</head>
<body>

<div class="row" >
    <div class="col col-sm-1 " style="margin-left:85%; margin-top:1%">
    <a href="/logout" class="btn btn-danger">Logout</a>
    </div>

    <div style="margin-left:5%">
    <h2>Job Scrapper</h2>
    <h4> What job do you Want to search?</h4>
        </div>

    <div class="col col-sm-6" style="margin-left:5%">
    <select name="web" id="web">
        <option value = "none" selected hidden>Select Website</option>
            <option  value="indeed" >Indeed</option>
            <option  value="dice">Dice</option>
          <option  value="naukri">Naukri</option>
      </select>
    <br><br>
            <input type="text" name="tech" id="tech" placeholder="Enter technology to search">
      <br><br>
            <input type="text" name="location" id="location" placeholder="Enter location to search">
      <br><br>
            <input type="number" name="pages" id="page" placeholder="Enter number of pages to search">
        <br><br>
            <button class="btn btn-success" id="start-bg-job" style="padding-left:5%" >search</button>
    </div>

    <div class="col col-sm-5" style="padding-left:9%">
    <img src="./static/neosoft.jpg" alt="Neosoft">
    </div>



</div>
<br><br>
    <div id="progress"></div>

    <!--<button onclick="start_long_task();">Start Long Calculation</button><br><br>-->
        <script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
          var percent = 0
           $( document ).ready(function() {
                $('#mydownload').hide()
                $('#myshow').hide()
                $('#11').hide()
                $('#2').hide()
                $('#3').hide()
                $('#4').hide()
            })
        function start_long_task() {
            var techValue= document.getElementById("tech").value
            var webValue= document.getElementById("web").value
            var locationValue= document.getElementById("location").value
            var pageValue= document.getElementById("page").value
            const toggle = document.querySelector('.hidden');
            debugger;
             // add task status elements
            div = $('<div class="progress"><div></div><div>0%</div><div>...</div><div>&nbsp;</div></div><hr>');
            $('#progress').append(div);

              // create a progress bar
            var nanobar = new Nanobar({
                bg: '#4444ff ',
                target: document.getElementById("progress"),
            });

            // send ajax GET request to start background job
            $.ajax({
                type: 'GET',
                url: '/search',
                data: {'web': webValue, 'tech':techValue, 'location': locationValue, 'pages':pageValue},
                success: function(data, status, request) {
                    status_url = request.getResponseHeader('Location');
                    update_progress(status_url, nanobar, div[0]);
                },
                error: function() {
                    alert('Unexpected error');
                }
            });
        }

        function update_progress(status_url, nanobar, status_div) {
            // send GET request to status URL

            $.getJSON(status_url, function(data) {
                // update UI
                percent = parseInt(data['current'] * 100 / data['total']);
                nanobar.go(percent);
                $(status_div.childNodes[1]).text(percent + '%');
                $(status_div.childNodes[2]).text(data['status']);
                if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS') {
                    if ('result' in data) {
                        // show result

                        $(status_div.childNodes[3]).text(data['result']);

                    }
                    else {
                        // something unexpected happened
                        $(status_div.childNodes[3]).text(data['state']);
                    }
                }

                else {
                    // rerun in 1 seconds
                    setTimeout(function() {
                        update_progress(status_url, nanobar, status_div);

                    }, 1000);
                }
            console.log(status_div)
            if(percent==100){
                console.log("in 100% block")
                $('#mydownload').show();
                $('#myshow').show();
                $('#11').show();
                $('#2').show();
                $('#3').show();
                $('#4').show();
            }
            });
        }
        $(function() {
            $('#start-bg-job').click(start_long_task);
        });

    </script>
    </div>
<br>

<div class="d-flex gap-2 flex-row col-6  mx-auto justify-content-center" id="myDiv" >
    <form action="/export">
    <button class="btn btn-success " id="mydownload" >Download</button>
        </form>
    <form action="/result/{{session['task_id']}}">
    <button class="btn btn-success " id="myshow" >Show Data</button>
        </form>
    <form>
     <button class="btn btn-success" onclick="http://localhost:5555/api/task/info/{{session['task_id']}}" id="2">Task Details</button>
    </form>
        <form>
    <button class="btn btn-success" onclick="http://localhost:5555/api/task/result/{{session['task_id']}}" id="3">Task Result</button>
      </form>
    <form>
        <button class="btn btn-success" onclick="http://localhost:5555/tasks" id="4">All Tasks Status</button>
<form>
</div>

</body>
</html>